*~
*.DS_Store
*storybook.log
/.idea/
/build/
/node_modules/
/coverage/
/mochawesome-report/
/.next/
/.DS_Store

#sampler-translate
/sampler-translate/.idea/
/sampler-translate/.tsup
/sampler-translate/build/
/sampler-translate/coverage/
/sampler-translate/dist/
/sampler-translate/mochawesome-report/
/sampler-translate/node_modules/

#sampler-interface
/sampler-interface/.idea/
/sampler-interface/.next/
/sampler-interface/.tsup/
/sampler-interface/coverage/
/sampler-interface/dist/
/sampler-interface/mochawesome-report/
/sampler-interface/node_modules/

#sampler-devices
/sampler-devices/.idea/
/sampler-devices/.tsup/
/sampler-devices/build/
/sampler-devices/coverage/
/sampler-devices/dist/
/sampler-devices/mochawesome-report/
/sampler-devices/node_modules/

#sampler-lib
/sampler-lib/.idea/
/sampler-lib/.tsup/
/sampler-lib/build/
/sampler-lib/coverage/
/sampler-lib/dist/
/sampler-lib/mochawesome-report/
/sampler-lib/node_modules/