/.idea/
/build/
/node_modules/
/coverage/
/mochawesome-report/
/.next/

*storybook.log
/.DS_Store
/sampler-translate/.idea/
/sampler-translate/.nyc_output/
/sampler-translate/coverage/
/sampler-translate/mochawesome-report/
/sampler-translate/dist/
/sampler-translate/node_modules/
/sampler-interface/coverage/
/sampler-interface/.idea/
/sampler-interface/mochawesome-report/
/sampler-interface/node_modules/
/sampler-interface/.next/
/sampler-devices/coverage/
/sampler-devices/mochawesome-report/
/sampler-devices/node_modules/
/sampler-devices/.idea/
/sampler-lib/coverage/
/sampler-lib/mochawesome-report/
/sampler-lib/node_modules/
/sampler-lib/.idea/
/sampler-lib/dist/
/sampler-akaitools/coverage/
/sampler-akaitools/mochawesome-report/
/sampler-akaitools/node_modules/
/sampler-devices/dist/
/sampler-devices/.tsup/π
