/.idea/
/build/
/node_modules/
/coverage/
/mochawesome-report/
/.next/

*storybook.log
/.DS_Store
/translate/.idea/
/translate/.nyc_output/
/translate/coverage/
/translate/mochawesome-report/
/translate/dist/
/translate/node_modules/
