$cream: #F1DAC4;
$orange: #F55436;
$green: #606C38;

$light-gray: #A69CAC;
$dark-gray: #292F36;
$highlight: $orange;

$primary: $dark-gray;

$success: $green;
$danger: $orange;
$dark: $dark-gray;
$light: $light-gray;

// MPC colors
$cream: #E9E9DD;
$light-gray: #c3c5b2;
$dark-gray: #5a5f5c;
$light-green: #7a7f6b;
$red: #cf2a25;
$blue: #387589;
$light-blue: lighten($blue, 25);
$yellow: #E3D26F;

$primary: $blue;
$secondary: $light-green;
$success: $green;
$danger: $red;
$warning: $yellow;
$light: $light-gray;
$info: $light-blue;
$dark: $dark-gray;

//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../../node_modules/bootstrap/scss/bootstrap";

.mpc-program {
  //color: $white;
  //background-color: $light-green;
}

.as-list-view {
  max-height: 28rem;
  //box-shadow: $box-shadow-sm;
}
